name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  backend-tests:
    name: Backend – Tests & Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Use Node 18
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install backend dependencies
        working-directory: backend
        run: npm install

      - name: Run backend tests
        working-directory: backend
        run: npm test --if-present

      - name: Build backend Docker image
        run: docker build -t backend-test -f backend/Dockerfile_backend backend


  frontend-tests:
    name: Frontend – Tests & Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Use Node 18
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install frontend dependencies
        working-directory: frontend
        run: npm install

      - name: Run frontend tests
        working-directory: frontend
        run: npm test --if-present --watchAll=false

      - name: Test frontend build
        working-directory: frontend
        run: npm run build

      - name: Build frontend Docker image
        run: docker build -t frontend-test -f frontend/Dockerfile_frontend frontend
